/*--------topbar css-------------*/

.top_bar {
    position: relative;
    background: var(--primary-color-two);
    .top_inner{
        display: table;
        width: 100%;
        .common_css{
            display: table-cell;
            vertical-align: top;
            line-height: 50px;
            .contntent {
                position: relative;
                display: inline-block;
                margin-left: 25px;
                margin-right: 25px;
                vertical-align: top;
                i{
                    position: absolute;
                    left: -25px;
                    top: 0;
                    color: var(--primary-color-one);
                    margin-right: 5px;
                    bottom: 0;
                    margin: auto;
                    font-size: 16px;
                    line-height: 16px;
                    height: 16px;
                }
                .text{
                    position: relative;
                    small{
                        font-size: 15px;
                        color: #fff;
                        margin-right: 5px;
                    }
                    span , a{
                        font-size: 15px;
                        color: var(--text-color-light);
                        i{
                            position: relative;
                            margin-left: 9px!important;
                            top: inherit;
                            right: inherit;
                            left: inherit;
                            margin: inherit;
                            height: auto;
                            font-size: 13px;
                            color: var(--text-color-light);
                        }
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        .right_side {
            float: right;
        }
    }

    &.style_two{
        position: relative;
        background: var(--primary-color-one);
        .auto-container{
            max-width: 1400px;
        }
        .top_inner{
            .common_css{
              
                .cbutton{
                    top: 8px;
                    margin: 0px;
                    a{
                    background: rgba(255,255, 255, .1);
                    min-height: 35px;
                    color: #fff;
                    line-height: 35px;
                    display: inline-block;
                    text-transform: inherit;
                    font-weight: 400;
                    font-size: 14px;
                    }
                }
                .media{
                    small{
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    small , i{
                        margin-right: 10px; 
                        position: relative;
                        top: inherit;
                        left: inherit;
                        right: inherit;
                        bottom: inherit;
                        color: #fff!important;
                    }
                    a:last-child{
                        small , i{
                            margin-right: 0px;
                        }
                    }
                }
                i{
                    color: #fff;
                    font-size: 13px;
                }
                .text{
                  
                    small{
                        color: #fff;
                    }
                    span , a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
.header_boxed.style_four{ 
    .top_bar .top_inner .common_css .contntent i{
    color: #fff;
}

.top_bar .top_inner .common_css .contntent .text span , .top_bar .top_inner .common_css .contntent .text a{
    color: #fff!important;
    opacity: .8;
    
}
.top_bar .top_inner .right_side {
   .contntent{
    margin-left: 0px;
    &.button{
        a{
            i{
                color: var(--heading-dark);
                right: unset;
                left: 5px;
            }
        }
    }
   }
}
.top_bar .top_inner .common_css .contntent .text span i, .top_bar .top_inner .common_css .contntent .text a i{
    margin-left: 20px!important;
}
}

.top_bar .top_inner .common_css .contntent .text{
    i{
        display: inline-block!important;
    }
}
/*--------------------------------------
===============fixed-header=============
--------------------------------------*/


@media(max-width:992px){
    .top_bar {
        padding: 15px 0px 15px;
        .top_inner{
        display: block!important;
        text-align: center;
        .common_css{
            .contntent {
                position: relative;
                margin-bottom: 10px;
            }
            display: block;
            line-height: normal;
            &.right_side{
                float: none;
            }
        }
    }
}

}




/*--------------top_bar  style_six with header style_six-------------------*/
.header_style_six_nw{ 
.top_bar.style_six {
    position: relative;
    background: transparent;
    .top_inner{
        display: flex;
        position: relative;
        justify-content: space-between;
        .common_css{
            position: relative;
            &.left_side {
                ul{
                    float: left;
                    li{
                        margin-right: 12px;
                        padding-left: 15px;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 10px;
                            background: #fff;
                            opacity: .5;
                            top: 0;
                            left: 3px;
                            bottom: 0;
                            margin: auto;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                            background: transparent;
                            border: 1px solid #fff;
                            opacity: .5;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
            ul {
                position: relative;
                padding-left: 0px;
                margin-bottom: 0px;
                li{
                    display: inline-block;
                    margin-bottom: 0px;
                 
                    position: relative;
                    
                    a{
                        font-size: 15px;
                        color: #fff;
                        line-height: 25px;
                        font-weight: 400;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            &.right_side {
                .rg_content_box{
                    display: flex;
                    float: right;
                    .btn_lf_side{
                        position: relative;
                        margin-right: 20px;
                        a{
                            font-size: 15px;
                            line-height: 30px;
                            border-radius: 30px;
                            color: #fff;
                            border: 1px solid rgba(255,255, 255, .4);
                            display: inline-block;
                            padding: 0px 22px;
                            height: 31px;
                            &:hover{
                                border-color: #fff;
                                background: #fff;
                                color: var(--primary-color-one);
                            }
                        }
                    }
                    .med_rg_side{
                        position: relative;
                        ul {
                            position: relative;
                            padding-left: 0px;
                            margin-bottom: 0px;
                            li{
                                display: inline-block;
                                margin-bottom: 0px;
                                &:last-child{
                                    margin-right: 0px;
                                }
                                a{
                                    font-size: 14px;
                                    line-height: 30px;
                                    border-radius: 50px;
                                    border: 1px solid rgba(255,255, 255, .4);
                                    display: block;
                                    height: 31px;
                                    text-align: center;
                                    width: 31px;
                                    color: #fff;
                                    &:hover{
                                        border-color: #fff;
                                        background: #fff;
                                        color: var(--primary-color-one);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}


@media(max-width:768px){
    .top_bar {
  
        .top_inner{
  
        .common_css{
            .contntent {
                margin: 0px 0px 15px;
                display: block;
                i{
                    display: none;
                }
            }
       
        }
    }
}
.header_style_six_nw .top_bar.style_six .top_inner .common_css.left_side ul{
    float: unset;
}
.header_style_six_nw .top_bar.style_six .top_inner .common_css.right_side .rg_content_box{
    float: unset!important;
    padding-top: 10px;
    display: block!important;
}
.header_style_six_nw .top_bar.style_six .top_inner .common_css.right_side .rg_content_box .btn_lf_side{
    margin-right: 0px;
    margin-bottom: 10px;
}
}