/*======================================
            Mobiel Css
======================================*/

.mobile_header{
    position: relative;
    display: none;
    &.mobile_header_style_two {
        .mobile_logo{
            padding: 0px 0px;
            position: relative;
            text-align: left;
            border-bottom: unset; 
        }
    }
    ul{
        padding: 0px;
    }
    .top_bar_moblie{
        position: relative;
        background: var(--primary-color-two);
        padding: 15px 0px;
        text-align: center;
        .mail_id{
            margin-bottom: 8px;
        }
        div{
            text-align: center;
        }
        a{
            color: #fff;
            font-size: 14px;
            display: block;
            min-width: 100%;
            text-align: center;
            i{
                margin-right: 5px;
                top: 2px;
                position: relative;
                display: inline-block;
            }
        }
    }  
    .mobile_logo{
        padding: 14px 0px;
        position: relative;
        text-align: center;
        min-width: 180px;
        border-bottom: 1px solid var(--border-color-dark); 
        img{
            width: 150px;
        }
    }
    .bottom_content{
        position: relative;
        padding: 13px 0px 13px;
        background: #fff;
      
        ul{
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            li{
                list-style: none;
                margin-left: 18px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                &:first-child{
                    float: left;
                    margin-left: 0px;
                }
                .contact-toggler{
                    position: relative;
                    width: 54px;
                    height: 54px;
                    line-height: 54px;
                    border-radius: 50%;
                    border: 1px solid var(--border-color-dark);
                    transition:all 0.5s ease;
                    -moz-transition:all 0.5s ease;
                    -ms-transition:all 0.5s ease;
                    -o-transition:all 0.5s ease;
                    background: #fff;
                    box-shadow: 0px 0px 0px 0px;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: var(--primary-color-one);
                        border-radius: 50%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        transition:all 0.3s ease;
                        -moz-transition:all 0.3s ease;
                        -ms-transition:all 0.3s ease;
                        -o-transition:all 0.3s ease;
                    }
                    i{
                        color: #fff;
                        font-size: 18px;
                        position: relative;
                        z-index: 1;
                        transition:all 0.5s ease;
                        -moz-transition:all 0.5s ease;
                        -ms-transition:all 0.5s ease;
                        -o-transition:all 0.5s ease;
                    }
                    &:hover{
                        border-color: transparent;
                        &::before{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
              .mini_cart_togglers  {
                    background: transparent;
                    border: 0px;
                    position: relative;
                    box-shadow: none;
                    cursor: pointer;
                    top: 12px;
                    i{
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                        line-height: 20px;
                    }
                    .mini-cart-count{
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        font-size: 10px;
                        border-radius: 30px;
                        color: #fff;
                        top: -17px;
                        line-height: 18px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        text-align: center;
                        background: var(--primary-color-one);
                    }
                }
            }
        }
        .d-flex{
            div{
                min-width: 50%;
            }
            .theme-btn{
                position: relative;
            }
            &.no_button_on_mb {
               
                div{
                    min-width: 100%;
                    position: relative;
                    ul{
                        float: unset;
                        justify-content: space-between;
                        li{
                            &:last-child{
                                float: right;
                            }
                        }
                    }
                    .conta_tog{
                        margin-right: 50px;
                    }
                   .cart_btn_md{
                    right: 50px;
                    margin-top: -5px;
                    position: absolute;
                   } 
    
                }
                &.no_option_on_mb{
                    div{
                      
                        ul{
                            justify-content: flex-end;
                        }
                    }
                }
            }
            .nav_menu_mb{
                float: unset;
                height: 54px;
            }
        }
    }
    .hamburger_menu {
        position: relative;
        float: none;
        top: 14px;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        margin-top: 0px;
        z-index: 11;
        .line{
            width: 25px;
            height: 2px;
            background-color: var(--menu-color);
            display: block;
            margin: 6px auto;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
        }
       
        &:before{
            content: "";
            position: absolute;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            border: 1px solid transparent;
            top: calc(50% - 20px);
            left: calc(50% - 21px);
            border-radius: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            margin-left: 1px;
        }
    }
    .mini_cart_togglers{
        position: relative;
        color: var(--heading-dark);
        font-size: 20px;
        line-height: normal;
        cursor: pointer;
    }
    
    &.fixed-header{
        .animated{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            padding: 10px 0px 10px;
            z-index: 9999;
            background: #fff;
            -webkit-box-shadow: 0 0 15px rgba(0 , 0 , 0 , .1);
            box-shadow: 0 0 15px rgba(0 , 0 , 0 , .1);
            -ms-box-shadow: 0 0 15px rgba(0 , 0 , 0 , .1);
            -o-box-shadow: 0 0 15px rgba(0 , 0 , 0 , .1);
            -webkit-transition: top .3s ease;
            -o-transition: top .3s ease;
            transition: top .3s ease;
        }
       
    }
}


@media(max-width:992px){
 
    .mobile_header{
        display: block!important;
    }
    .style-switcher{
        top: 270px;
    }
}


